@media (max-width: 768px) {
  .intro {
    height: 34em !important;
  }

  .info {
    width: 100%;
    height: 25em !important;
  }
}

@media (max-width: 960px) {
  .call {
  height: 71em !important;
  }
}
