<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Style/style.css">
  <link rel="stylesheet" href="/Style/information/style.css">
  <title>Document</title>
</head>
<body>
  <section class="information">
    <div class="information-container">
      <div class="hand-img">
        <img src="/assets/img/others/hand.png" alt="hand" />
      </div>

      <div class="images">
        <div class="slider-cell">
          <img src="/assets/img/cellphone/proyect-1.png" alt="proyect" />
          <img src="/assets/img/cellphone/loatech-hero.png" alt="loatech" />
          <img src="/assets/img/cellphone/portafolio.png" alt="proyect" />
        </div>
      </div>
      <div class="text-container">
        <div class="text">
          <h1>
            ESTÁNDARES DEL MERCADO
          </h1>
          <div class="line-container"><div class="line">.</div></div>
          <p>
            Actualizándome en todo lo relacionado con las tecnologías de diseño web permitiendo realizar una aplicación de manera organizada brindándole resultados positivos al cliente.  <br />
            <br />
            SCRUM el marco de trabajo con el que me base, es mi herramienta
            aliada para obtener grandes resultados, sumando la disciplina y la
            investigación, para información más detallada de mi evolución te
            invito a darle clic al enlace de abajo.
          </p>

          <a href="/trabajos.html" target="_blank">
            <button class="works cta">Mis trabajos</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
  <script src="/js/information.js"></script>
</body>
</html>