@media (max-width: 968px) {
  .call-me {
    padding: 14rem 4rem !important;
    margin-top: 100px;

    .text {

      h2 {
        font-size: 4em !important;
      }
    }

    .input {
      width: 90% !important;
    }
  }
}