<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/Style/hero/style.css">
    <link rel="stylesheet" href="/Style/style.css">
    <title>hero</title>
  </head>
  <body>
    <section class="hero">
      <div class="navbar">
        <h1>JDRV</h1>
        <i class="fas fa-bars"></i>
      </div>

      <div class="background"></div>

      <video autoplay loop muted controls preload>
        <source src="/assets/img/background/hero.mp4" />
      </video>

      <div class="content-hero">
        <div class="text-hero">
          <h1>
            EL FUTURO<br />EN DESARROLLO WEB
            <i class="far fa-play-circle"></i>
          </h1>
          <div class="line">.</div>
          <p>
            Estoy capacitado como desarrollador Frontend y actualmente para
            acoplarme a las necesidades del mercado y ser más completo me
            encuentro formándome como desarrollador Fullstack.
          </p>
          <div class="play">
            <i class="far fa-play-circle"></i>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
