<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Style/cards/style.css">
    <link rel="stylesheet" href="/Style/style.css">
    <title>slider</title>
  </head>
  <body>
    <section class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="/assets/img/cards/sass.png" alt="" />
          <p>SCSS</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/angular.png" alt="" />
          <p>ANGULAR</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/bootstrap.png" alt="" />
          <p>BOOTSTRAP</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/gsap.png" alt="" />
          <p>GSAP</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/illustrator.png" alt="" />
          <p>ILLUSTRATOR</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/photoshop.png" alt="" />
          <p>PHOTOSHOP</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/vegaspro.png" alt="" />
          <p>VEGASPRO</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/sass.png" alt="" />
          <p>SCSS</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/angular.png" alt="" />
          <p>ANGULAR</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/bootstrap.png" alt="" />
          <p>BOOTSTRAP</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/gsap.png" alt="" />
          <p>GSAP</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/illustrator.png" alt="" />
          <p>ILLUSTRATOR</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/photoshop.png" alt="" />
          <p>PHOTOSHOP</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/vegaspro.png" alt="" />
          <p>VEGASPRO</p>
        </div>
        <div class="slide">
          <img src="/assets/img/cards/sass.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
