<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="/Style/footer/style.css">
  <link rel="stylesheet" href="/Style/style.css">
  <title>Document</title>
</head>
<body>
  <section class="footer">
    <div class="information">
      <h1>JESÚS DAVID RODRÍGUEZ VARELA</h1>
    </div>
    <div class="separate">
      <div class="line"></div>
      <i class="fas fa-circle-notch"></i>
      <div class="line"></div>
    </div>

    <a href="https://www.linkedin.com/in/jesus-david-89194620b/" target="_blanck">
      <div class="container-links">
        <div class="circle linkedin">
          <i class="fab fa-linkedin-in"></i>
        </div>
    </a>
    <a href="https://wa.me/573205893786" target="_blank">
      <div class="circle whatsapp">
        <i class="fab fa-whatsapp"></i>
      </div>
    </a>
      <div class="circle telephonebtn btn-secondary" data-toggle="tooltip" data-placement="top" title="+57 3205893786" >
        <i class="fas fa-phone-alt"></i>
      </div>
    </div>
    <script src="/js/out-watter.js"></script>
  </body>
</html>

