<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Style/introduction/style.css" />
    <link rel="stylesheet" href="/Style/style.css" />
    <title>introduction</title>
  </head>
  <body>
    <section class="introduction">
      <div class="text-introduction">
        <h1>HTML, CSS Y JAVASCRIPT</h1>
        <p>
          Los tres lenguajes que me han permitido realizar aplicaciones web
          incluyendo el portafolio visualizado. A continuación se apreciará en
          que proyectos he participado, como he maquetado el código y también
          los retos a los cuales me enfrenté, adicional respaldo mis trabajos
          usando framework, procesadores, librerías y herramienta de edición que
          han logrado mejorar calidad y profesionalismo a mis proyectos.
        </p>
      </div>

      <div class="img-container">
        <img src="/assets/img/others/html.png" class="img-frame" alt="html" />
        <img src="/assets/img/others/css.png" class="img-frame" alt="css" />
        <img src="/assets/img/others/javascript.png" class="img-frame" alt="javascript"/>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="/js/introduction.js"></script>
    <script src="/js/out-watter.js"></script>
  </body>
</html>
