<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="/Style/call-me/style.css">
  <link rel="stylesheet" href="/Style/style.css">
  <title>Document</title>
</head>
<body>
  <section class="call-me" id="call">
    <div class="text">
      <h1>FORMULARIO DE CONTACTO</h1>
      <h2>
        ¿QUE ESTÁS ESPERANDO? <br />
        ¡EMPECEMOS A TRABAJAR YA!
      </h2>
    </div>
    <form class="form input-container" id="form" action="https://formspree.io/f/mrgrjega" method="POST">
      <div class="input">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control name"
              placeholder="Nombre"
              aria-label="First name"
              for="name"
              name="name"
              id="name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control last"
              placeholder="Apellido"
              aria-label="Last name"
              for="last"
              name="last"
              id="last"
            />
          </div>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            aria-describedby="companylHelp"
            placeholder="compañia"
            for="company"
            name="company"
            id="company"
          />
        </div>

        <div class="form-group">
          <input
            type="email"
            class="form-control"
            
            aria-describedby="emailHelp"
            placeholder="Email"
            for="email"
            name="email"
            id="email"
          />
        </div>

        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control country"
              placeholder="Pais"
              aria-label="country"
              for="country"
              name="country"
              id="country"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control city"
              placeholder="Ciudad"
              aria-label="city"
              for="city"
              name="city"
              id="city"
            />
          </div>

          <div class="col">
            <input
              type="text"
              class="form-control telephone"
              placeholder="Telefono"
              aria-label="telephone"
              for="telephone"
              name="telephone"
              id="telephone"
            />
          </div>
        </div>

        <div class="mb-3">
          <textarea
            class="form-control"
            placeholder="Mensaje"
            rows="3"
            for="message"
            name="message"
            id="message"
          ></textarea>
        </div>
        <button class="btn" style="background-color: #27DAFF; width: 100%; font-weight: 700;" type="submit">Enviar</button>
      </div>
    </form>
  </section>
  <script src="/js/form.js"></script>
</body>
</html>