@import url("/Style/breakpoint/trabajos/md.css");
@import url("/Style/breakpoint/trabajos/sm.css");

.works-page {
  padding: 4rem 8.5rem;

  .line {
    width: 7%;
    height: 0.5rem;
    background-color: #b10000;
    margin: 1% 0px;
    color: transparent;
  }

  .work {
    display: flex;
    margin-top: 60px;
    align-items: center;

    .text {
      margin-left: 5%;
    }

    .title {
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 35%,
        rgba(0, 212, 255, 0) 100%
      );
      width: 150px;
      writing-mode: vertical-lr;
      display: flex;
      position: absolute;

      h1 {
        margin: 0;
      }
    }

    .img-container {
      img {
        position: relative;
        margin-right: 30px;
        top: 0;
        width: 121px;
        z-index: -1;
      }
    }
  }
}

.fab,
.far {
  position: absolute;
  z-index: 10;
  left: 280px;
  font-size: 1.5em;
  cursor: pointer;
  color: #000;

  &:hover {
    transition: 0.5s;
    color: #3b83bd;
  }
}

.fal {
  position: absolute;
  z-index: 10;
  left: 280px;
  font-size: 1.5em;
  cursor: pointer;
  color: #000;
  margin-top: 30px;

  &:hover {
    transition: 0.5s;
    color: #b10000;
  }
}

.fal2 {
  margin-top: 90px;
}

.far {
  &:hover {
    color: #ffaa00;
  }
}

.home {
  background-color: #b10000;
  width: 5em;
  height: 5em;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;

  .fas {
    font-size: 3em;
    color: white;
  }

  &:hover {
    transition: 0.5s;
    transform: translatey(-10px);
  }
}

.studies-container {
  .modal-lg {
    .modal-content {
      justify-content: flex-start !important;
      .modal-header {
        width: 100%;
      }

      .container-modal {
        .c-bolivar {
          padding: 66px 2% 0 2%;
          display: flex;
          align-items: center;

          .text {
            display: flex;
            flex-direction: column;
            margin-left: 55px;
          }

          .c-img {
            width: 40%;
            .body {
              width: 100px;
            }
            .c-logo {
              display: flex;
              justify-content: space-around;
              img {
                width: 30%;
              }
            }
          }
        }

        .sos {
          padding: 30px 2% 0 2%;
          display: flex;
          align-items: center;
          .sos-img {
            width: 40%;
            img {
              width: 120px;
            }
            .sos-card {
              display: flex;
              margin-top: 10px;
              justify-content: space-around;
              img {
                width: 35%;
              }
            }
          }
          .text {
            margin-left: 30px;
          }
        }

        .personnel {
          padding: 30px 2% 0 2%;
          display: flex;
          align-items: center;
          justify-content: center;
          .p-img {
            width: 29%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 90px;
            }
            .p-logo {
              display: flex;
              margin-top: 10px;
              img {
                width: 20%;
              }
              .two,
              .three {
                margin-left: 18px;
              }
            }
          }
          .text {
            margin-left: 30px;
          }
        }
      }
    }
  }

  p {
    font-family: 'Quicksand';
  }

  h4 {
    font-family: "trump";
  }
}
